body{
    background-color: black;
    text-align: center;
    font-family: Verdana,Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 14px;

}
.header--main {
    font-weight: normal;
    font-size: 36px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 ;
    width: 100%;
    font-family: Verdana,Tahoma, sans-serif;
    
}
.link--cta {
    font-size: 14px;
    color: aquamarine;
    text-align: center;
}
.phone-img{
    align-self: center;
}
img {
display: block;
margin: 10px auto;
}